<!DOCTYPE html>
<html>
  <head>
    <title>Instuigram</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--Navigation Bar-->
    <nav class="navbar navbar-light bg-light d-flex">
      <div class="container">
        <div class="logo">
          <a class="navbar-brand" href="#">
            <%= fa_stacked_icon "camera inverse", base: "circle"%>
            Instagram
          </a>
        </div>
        <div class="m-auto">
          <form class="form-inline search-form">
            <input class="form-control mr-sm-2" type="search" placeholder="@search" aria-label="Search">
          </form>
        </div>
        <div class="user-section">
          <a><i class="fa fa-compass"></i></a>
          <a><i class="fa fa-heart"></i></a>
          <% if user_signed_in? %>
            <a href="<%= destroy_user_session_path%>" data-method="delete">
              <i class="fa fa-user"></i>
            </a>
          <% else %>
            <a href="<%= new_user_session_path%>">
              <i class="fa fa-sign-in"></i>
            </a>
          <% end %>

        </div>
      </div>
    </nav>



    <main class="container" style="min-height: 500px;">
      <div class="col-md-12 user-edit-page">
        <div class="actions">
          <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" data-toggle="pill" href="#v-pills-home" role="tab" aria-selected="true">Edit Profile</a>
            <a class="nav-link" data-toggle="pill">Change Password</a>
            <a class="nav-link" data-toggle="pill">Authorized Applications</a>
            <a class="nav-link" data-toggle="pill">Email and SMS</a>
            <a class="nav-link" data-toggle="pill">Manage Contacts</a>
            <a class="nav-link" data-toggle="pill">Privacy and Security</a>
          </div>
        </div>
        <div class="details tab-content">
          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <!-- Form edit profile -->
            <%= form_with model: current_user, local: true, html: {class: "form-horizontal form-edit-user"} do |f| %>
            <div class="form-group row">
              <div class="col-sm-3 col-form-label avatar">
                <%= image_tag("profile_pic_2.jpg") %>
              </div>
              <div class="col-sm-9">
                <p class="username"><%=current_user.username %></p>
                <a class="change-photo" href="">Change Profile Photo</a>
              </div>
            </div>
            <div class="form-group row">
              <%= f.label :name, class: 'col-sm-3 col-form-label' %>
              <div class="col-sm-9">
                <%= f.text_field :name, class: 'form-control' %>
              </div>
            </div>
            <div class="form-group row">
              <%= f.label :username, class: 'col-sm-3 col-form-label' %>
              <div class="col-sm-9">
                <%= f.text_field :username, class: 'form-control' %>
              </div>
            </div>
            <div class="form-group row">
              <%= f.label :website, class: 'col-sm-3 col-form-label' %>
              <div class="col-sm-9">
                <%= f.text_field :website, class: 'form-control' %>
              </div>
            </div>
            <div class="form-group row">
              <%= f.label :bio, class: 'col-sm-3 col-form-label' %>
              <div class="col-sm-9">
                <%= f.text_area :bio, class: 'form-control' %>
              </div>
            </div>
            <div class="form-group row">
              <%= f.label :email, class: 'col-sm-3 col-form-label' %>
              <div class="col-sm-9">
                <%= f.text_field :email, class: 'form-control' %>
              </div>
            </div>
            <div class="form-group row">
              <%= f.label :phone, class: 'col-sm-3 col-form-label' %>
              <div class="col-sm-9">
                <%= f.text_field :phone, class: 'form-control' %>
              </div>
            </div>
            <div class="form-group row">
              <%= f.label :gender, class: 'col-sm-3 col-form-label' %>
              <div class="col-sm-9">
                <%= f.text_field :gender, class: 'form-control' %>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-3">
              </div>
              <div class="col-sm-9">
                <%= f.submit "Submit", class: 'btn btn-primary' %>
              </div>
            </div>
          <% end %>
          </div>
        </div>
      </div>

      <%= yield %>
    </main>

    <!--Footer-->
    <footer class="container footer">
      <nav class="navbar d-flex">
        <ul>
          <li>ABOUT US
          </li>
          <li>SUPPORT</li>
          <li>PRESS</li>
          <li>API</li>
          <li>JOBS</li>
          <li>PRIVACY</li>
          <li>TERMS</li>
          <li>DIRECTORY</li>
          <li>PROFILES</li>
          <li>HASHTAGS</li>
          <li>LANGUAGE</li>
        </ul>
        <p> © 2018 INSTAGRAM </p>
      </nav>
    </footer>
  </body>
</html>
