<!DOCTYPE html>
<html>
  <head>
    <title>Instuigram</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--Navigation Bar-->
    <nav class="navbar navbar-light bg-light d-flex">
      <div class="container">
        <div class="logo">
          <a class="navbar-brand" href="#">
            <%= fa_stacked_icon "camera inverse", base: "circle"%>
            Instagram
          </a>
        </div>
        <div class="m-auto">
          <form class="form-inline search-form">
            <input class="form-control mr-sm-2" type="search" placeholder="@search" aria-label="Search">
          </form>
        </div>
        <div class="user-section">
          <a><i class="fa fa-compass"></i></a>
          <a><i class="fa fa-heart"></i></a>
          <% if user_signed_in? %>
            <a href="<%= destroy_user_session_path%>" data-method="delete">
              <i class="fa fa-user"></i>
            </a>
          <% else %>
            <a href="<%= new_user_session_path%>">
              <i class="fa fa-sign-in"></i>
            </a>
          <% end %>

        </div>
      </div>
    </nav>


    <!--Main content-->
    <main class="container" style="min-height: 500px;">

      <div class="user-profile">
        <div class="profile row">
          <div class="col-md-4 avatar">
            <div class="wrapper">
              <%= image_tag("profile_pic_1.jpg") %>
            </div>
          </div>

          <div class="col-md-8 basic-info">
            <div class="user-wrapper">
              <h2 class="username">Ijeoma Nelson</h2>
              <a class="edit-profile" href="<%= edit_user_password_path(current_user) %>">
                <button>Edit Profile</button>
              </a>
            </div>
            <ul class="posts">
              <li><span>12</span> posts</li>
              <li><span>195</span> followers</li>
              <li><span>345</span> following</li>
            </ul>
            <h2 class="name">Ijeoma Nelson</h2>
            <a class="website">ijeomanelson.com</a>
          </div>
        </div>
      </div>

      <div class="user-tabs">
        <a class="tab active" href="">
          <i class="fa fa-th"></i>
          POSTS
        </a>
        <a class="tab" href="">
          <i class="fa fa-tv"></i>
          IGTV
        </a>
        <a class="tab" href="">
          <i class="fa fa-bookmark"></i>
          SAVED
        </a>
        <a class="tab" href="">
          <i class="fa fa-tag"></i>
          TAGGED
        </a>
      </div>

      <div class="user-images">
        <div class="wrapper">
          <%= image_tag("goldengate_bridge.jpg") %>
        </div>
        <div class="wrapper">
          <%= image_tag("the_artist.jpg") %>
        </div>
        <div class="wrapper">
          <%= image_tag("travel.jpg") %>
        </div>
      </div>

      <%= yield %>
    </main>
